.box {
  width: 15rem;
  height: auto;
  background-color: var(--gray-600);
  border: 2px solid var(--gray-300);
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titles {
  h2 {
    font-size: 1rem;
    color: var(--gray-200);
    padding-bottom: 0;
    line-height: 0.5;
    font-family: var(--archivo);
  }
  h3 {
    font-size: 0.8rem;
    color: var(--violet);
    font-family: var(--varela);
  }
}
.minicard {
  display: flex;
  flex-direction: column;
  width: 2.3rem;
  height: auto;
  background-color: var(--gray-100);
  font-size: 0.8rem;
  border-radius: 0.4rem;
  text-align: center;
  :hover {
    background-color: var(--gray300);
    border-radius: 0.4rem;
  }
}
.minicard {
  p {
    line-height: 0;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
  }
  .icons {
    color: var(--gray-500);
    margin-top: 0.3rem;
  }
}

.body {
  .members {
    display: flex;
    flex-direction: column;
    p {
      padding-top: 1em;
      font-size: 0.8rem;
      color: var(--gray-200);
      font-family: var(--varela);
      line-height: 0;
    }
    .images {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
    }
  }
}
