<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <div class="">
            <a href="#">
                <fa-icon [icon]="facebook" size="lg"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="instagram" size="lg"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="linkedin" size="lg"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="behance" size="lg"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="artstation" size="lg"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="github" size="lg"></fa-icon>
            </a>
        </div>
        <p class="m-0">@Copyrigh - All rights reserverd. / Caique Matheus - 2021</p>
    </div>
</nav>